body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
}

.cont {
    text-align:left;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    margin-left:auto;
    margin-right:auto;
}
hr{
    margin-left:200px;
    margin-right:200px;
}

