body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
}
.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}
.img-medium {
    height: 200px;
   
}
.cont {
    margin-left:200px;
    margin-right:200px;
    
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}




